body {
    color: $body-color;
    background-color: #260303;
    margin: 0;
    overflow: hidden;
    // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: 'Heebo', sans-serif;
}

header {
    padding: 20px 10%;
    text-align: center;
}

main {
    margin: 0 10%;
}