#player {
    width: 67px;
    height: 67px;
    background-color: green;
    background-image: url('/public/img/sprites/player-boy.png');

    animation: walk .6s linear infinite backwards;
}

@keyframes walk {
    0% {
        background-position-x: 0%;
    }
    20% {
        background-position-x: 0%;
    }
    20.000001% {
        background-position-x: 33%;
    }
    40% {
        background-position-x: 33%;
    }
    40.000001% {
        background-position-x: 66%;
    }
    60% {
        background-position-x: 66%;
    }
    60.000001% {
        background-position-x: 99%;
    }
    80% {
        background-position-x: 99%;
    }
    80.000001% {
        background-position-x: 0%;
    }
    99.99999% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 0%;
    }
}