#player {
    width: 67px;
    height: 67px;
    transform: scale(1.9);
    background-image: url('/public/img/sprites/player-boy.png');
    z-index: 1;
    
    
    &[data-gender = "male"] {
        background-image: url('/public/img/sprites/player-boy.png');
    }

    &[data-gender = "female"] {
        background-image: url('/public/img/sprites/player-girl.png');
    }
    
    &[data-walk = "true"] {
        animation: walk .6s infinite step-end;
    }
    
    &[data-walk = "false"] {
        background-position-x: 0%;
    }

    &[data-direction = "down"] {
        background-position-y: 0%;
    }

    &[data-direction = "left"] {
        background-position-y: 33%;
    }

    &[data-direction = "right"] {
        background-position-y: 66%;
    }

    &[data-direction = "up"] {
        background-position-y: 99%;
    }
}


@keyframes walk {

    0% {
        background-position-x: 33%;
    }

    33.3333% {
        background-position-x: 66%;
    }

    66.66666% {
        background-position-x: 99%;
    }
    100% {
        background-position-x: 0%;
    }
}