body {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: auto auto 1fr;
    // grid-template-areas: 
    // ". title title ."
    // ". gameView ."
    // ;
    align-items: start;
    gap: 10px 20px;

    
    .game-title {
        grid-area: 1 / 2 / 2 / 3;
        grid-column: span 4;
        color: #fff;
        text-align: center;
    }

}

#game-view {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 800px;
    width: 800px;
    overflow: hidden;

    >* {
        grid-area: 1 / 1 / -1 / -1;
    }

    #map-container {
        display: grid;
        >* {
            grid-area: 1 / 1 / -1 / -1;
        }
     
    }
}